[submodule "external/lsp-kit"]
	path = external/lsp-kit
	url = git@github.com:zigtools/lsp-kit.git
[submodule "external/gpuweb"]
	path = external/gpuweb
	url = git@github.com:gpuweb/gpuweb.git
[submodule "external/lsp-client"]
	path = external/lsp-client
	url = git@github.com:codemirror/lsp-client.git
[submodule "external/wgsl-analyzer"]
	path = external/wgsl-analyzer
	url = git@github.com:wgsl-analyzer/wgsl-analyzer.git
[submodule "external/naga"]
	path = external/naga
	url = git@github.com:gogpu/naga.git
[submodule "external/eslint"]
	path = external/eslint
	url = git@github.com:eslint/eslint.git
[submodule "external/wgsl_reflect"]
	path = external/wgsl_reflect
	url = git@github.com:brendan-duncan/wgsl_reflect.git
[submodule "external/vscode-extension-samples"]
	path = external/vscode-extension-samples
	url = git@github.com:microsoft/vscode-extension-samples.git
